.container {
    max-width: 500px;
    height: 100vh;
    padding: 24px;
    background: rgba(242, 231, 210, 1) url('/public/assets/bg_filtrs1.png')
        no-repeat center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    overflow: auto;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 18px;
}

.close {
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.close:active {
    transform: scale(0.9);
}

.title {
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    color: rgba(81, 79, 77, 1);
}

.section {
    margin-bottom: 44px;
}

.input {
    display: flex;
    margin-bottom: 20px;
    gap: 12px;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    border: 1px solid rgba(139, 135, 133, 1);
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s;
}

input[type='checkbox']:checked {
    background-color: rgba(207, 51, 55, 1);
    border-color: rgba(207, 51, 55, 1);
    background-image: url('/public/assets/check-mark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
}

.label {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: rgba(81, 79, 77, 1);
}

.sliderPlaceholder {
    height: 4px;
    border-radius: 2px;
    margin-bottom: 44px;
    border-bottom: 1px solid rgba(139, 135, 133, 1);
}

.dateInputs {
    display: flex;
    gap: 12px;
}

.dateInput {
    padding: 17px 5px;
    background: transparent;
    border: 1px solid rgba(81, 79, 77, 1);
}

.checkboxLabel {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2.8px;
    text-align: center;
    color: rgba(81, 79, 77, 1);
}

.showAllButton {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.12em;
    text-align: center;
    cursor: pointer;
    color: rgba(207, 51, 55, 1);
}

.letterGrid {
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 16px;
}

.letterButton {
    padding: 8px;
    cursor: pointer;
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
}

.activeLetter {
    background-color: #b51a1a;
    color: #fff;
}

.slideIn {
    animation: slideIn 0.3s ease-out forwards;
}

.slideOut {
    animation: slideOut 0.3s ease-in forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
