/* Общие стили */
.button {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2px;
    white-space: nowrap;
    padding: 21px 45px;
}

.red {
    background-color: rgba(207, 51, 55, 1);
    color: white;
}

.default {
    border: 1px solid rgba(81, 79, 77, 1);
    color: rgba(81, 79, 77, 1);
    background-color: transparent;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.md {
    padding: 23px 140px;
}