.button {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 18px;
    letter-spacing: 2px;
    white-space: nowrap;
    width: 100%;

    @media (width < 1200px) {
        font-size: 15px;
    }
}

.white {
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
}

.red {
    background-color: rgba(207, 51, 55, 1);
    color: white;
}

.default {
    border: 1px solid rgba(81, 79, 77, 1);
    color: rgba(81, 79, 77, 1);
    background-color: transparent;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20px;
    height: 20px;
}

.sm {
    padding: 20px 40px;
    @media (width < 1200px) {
    }
}

.md {
    padding: 24px 130px ;
}

.xl {
    padding: 24px 217px;
}
