.keyboard {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 36px;
    padding: 24px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    z-index: 100;
    max-width: 920px;
    width: 90%;
}

.row {
    display: flex;
    justify-content: center;
}

.key {
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Montserrat, serif;
    font-weight: 400;
    font-size: 18px;
    vertical-align: middle;
    background: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 10px;
    line-height: 100%;
    margin: 6px;
    height: 48px;
    width: 65px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
}

.key:hover {
    background-color: #e0e0e0;
}

.key:active {
    background-color: #cccccc;
}

.close {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -76px;
    width: 88px;
    height: 56px;
    background-color: white;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    cursor: pointer;
}

.close:hover {
    transform: translateX(-50%) scale(1.1);
}

.close svg {
    width: 22px;
    height: 22px;
}

.space {
    flex: 1;
    font-family: Montserrat, serif;
    font-weight: 800;
    font-style: inherit;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;


}

.wordDelete {
    width: 103px;
    background: rgba(235, 235, 235, 1);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);

}

.wordArrow {
    width: 103px;
    background: rgba(235, 235, 235, 1);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
}

.translate {
    width: 152px;
    background: rgba(235, 235, 235, 1);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
}

.numbers {
    width: 152px;
    background: rgba(235, 235, 235, 1);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
}

.enter {
    width: 152px;
    background: rgba(207, 51, 55, 1);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 1);
}
