.searchInputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 144px;
    width: 100%; /* ширина на всю доступную ширину родителя */
    transition: transform 0.3s ease-in-out;
}

.keyboardVisible {
    transform: translateY(-120px);
}

.searchInputContainer {
    display: flex;
    align-items: center;
    width: 950px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); /* нижняя граница светло-белая, полупрозрачная */
}

.searchInput {
    flex: 1;
    padding: 12px 48px 12px 16px; /* внутренние отступы: сверху, справа (место под иконку), снизу, слева (отступ текста) */
    font-size: 20px; /* размер текста */
    font-style: italic; /* курсивный стиль текста */
    color: white; /* цвет текста */
    background: transparent; /* прозрачный фон */
    border: none; /* убираем все границы */

    outline: none; /* отключаем синий контур при фокусе */
}

.searchInput::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
}

.searchIcon {
    width: 40px;
    height: 40px;
}

.searchHero {
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 4.8px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}


.buttonWrapper {
    position: absolute; /* Абсолютное позиционирование */
    bottom: 80px; /* Отступ снизу 80px */
}
.keyboardMode {
    position: static;
    margin: 20px auto 0;
    width: fit-content;
}