* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    font: inherit;
    cursor: pointer;
}

.range-slider .range-slider__range {
    background-color: red; !important;
}
